body {
    background-color: antiquewhite;
}

.col {
    display: flex;
    justify-content: center;
}

img {
    transition: filter 0.3s;
    
}

.blurred {
    filter: blur(5px);
}

h1 {
    background-color: rgb(247, 134, 160);
    padding: 10px;
    text-align: center;
}